/SantiagoCastro/Semestre2/Java/Clase4/Ejercicio1C4/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase4/Ejercicio1C4/build/
/SantiagoCastro/Semestre2/Java/Clase5/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase5/build/
/SantiagoCastro/Semestre2/Java/Clase8/Clase8/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase8/Clase8/build/
/SantiagoCastro/Semestre2/Java/Clase8/Clase9Herencia/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase8/Clase9Herencia/build/
/SantiagoCastro/Semestre2/Java/Clase8/Clase10Arreglos/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase10Arreglos/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase10Arreglos/build/
/SantiagoCastro/Semestre2/Java/Clase8/Clase12Matrices/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase8/Clase12Matrices/build/
/SantiagoCastro/Semestre2/Java/Clase11Arreglos/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase12Matrices/build/
/SantiagoCastro/Semestre2/Java/Clase12Matrices/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase13DiseñoDeClases/Ventas/nbproject/private/
/SantiagoCastro/Semestre2/Java/Clase13DiseñoDeClases/Ventas/build/
